<div class="jumbotron"> <!-- ng-controller="MyCtrl"> -->
  <div>selection is: {{chosenPlace}}</div>
  <br>

  <div><input size="50" ng-model="chosenPlace" details="chosenPlaceDetails" googleplace /></div>
  <br>
  <button class="btn" ng-click="addressGet()">Review</button>
  <br>
  <div class="rate-selector">
      <div class="select">
        <input id="rain" name="rate" type="radio" ng-model="userAddress.rating" value="rainy">
        <label class="ratesymbol rainsymbol" for="rain" ng-click="updateUserRating()"></label>  
        <!-- <img src="images/Rain-100.png"> -->
        <div>{{address.rainy}}</div>
      </div>
      <div class="select">
        <input id="cloud" name="rate" type="radio" ng-model="userAddress.rating" value="cloudy">
        <label class="ratesymbol cloudsymbol" for="cloud" ng-click="updateUserRating()"></label>
        <!-- <img src="images/Clouds-100.png"> -->
        <div>{{address.cloudy}}</div>
      </div>
      <div class="select">
        <input id="sun" name="rate" type="radio" ng-model="userAddress.rating" value="sunny">
        <label class="ratesymbol sunsymbol" for="sun" ng-click="updateUserRating()"></label>
        <!-- <img src="images/Sun-100.png"> -->
        <div>{{address.sunny}}</div>
      </div>
  </div>
  <div>{{userAddress.rating}}:{{user}}</div>
      <br/>
      <div>rainy:{{address.rainy}} cloudy:{{address.cloudy}} sunny:{{address.sunny}}</div>
  <button role="button" ng-click="logout()" class="btn btn-danger">Log Out</button>

</div>
